
<form [formGroup]="form" (ngSubmit)="onSearchBook()">
    <input placeholder="title" formControlName="title" />
    <input placeholder="author" formControlName="author" />
<button type="submit">Search</button>
</form>

<div style="display: table;">
    @for(book of books | async; track book.id){
        <div class="book-row">
            <div class="cell">{{book.id}}</div>
            <div class="cell">{{book.title}}</div>
            <div class="cell">{{book.author}}</div>
        </div>
    }
</div>